<h1 style =  "text-align: center;">Page Data Base Select</h1>
<%= form_with(url: "index", method: "post") do |f| %>

  <p><%= @sometext %><b> <%= @sometext2 %></b>
  <%= f.text_field :linka, class: "form-control" %>
  </p>

  <%= f.submit "Parse", class: "form-control" %>
<% end %>
<h3><%= @kat %></h3>
  <% @arr.each do |url| %>
    <h4>
      <p>
        <%= url %>
      </p>
    </h4>
  <% end %>
  <p style="text-align:center"> ________________________________________________________</p>
  <% if @product.empty? %>
    По категории <%= @kat %> данных нет, нажмите: <%= link_to 'UPDATE', update_path %> если хотите добавить данные
  <% else %>
    Желаете обновить данные ? <%= link_to 'UPDATE', update_path %>
    <% @product.each do |pr| %>
      <h2 style = "text-align: center;"> CatName: <%= pr.cname %>, ProdName <%= pr.pname %> </h2>
    <% end %>

  <% end %>
headphones кажись без картинок и ссылок надо обыграть в парсинге....
экспорт в CSV редиректы страниц
и вообще сделать одну страницу наверное... с категориями и ссылками на них
